<div class="jumbotron center"> 
		<h1>About us</h1>
		<p>This is the first ruby app that "we" have ever made. Yay! </p>
		<!--<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>-->
</div>
<div class="container">
	<!--<div class="row center">
			  <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2></div>
			  <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2></div>
			  <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2></div>	
		</div>		-->
		 	<div class="row center">
			 	 <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2><p>Rachel Katz is a fantastic coder. She is literally the best coder in the world. You've never seen coding like this.</p></div>
				 <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2><p>Rachel Katz is the bombest coder in the world. I'm serious. Doesn't get any better. She codes like better than the best coder ever.</p></div>
				 <div class="col-xs-6 col-md-4"><h2>Rachel Katz</h2><p>Rachel Katz is sick at coding. I'm not even joking anymore. Try to out-code her and you'll get owned.</p></div>
		</div>
	</div>
</div>