<div class="jumbotron center"> 
	<div class="container">
		<h1>Welcome to Rachel's App!</h1>
		<p> 
			<%= link_to "Login", "#", class: "btn btn-default btn-lg" %>  
			<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> 
		</p>
	</div>
</div>